.DS_Store

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
.*.sw?
.*.o.d
.*.cmd

*.6.gz

# Ignore a bunch of build files that shouldn't sneak into the repo
adventure/adventure
adventure/data.c
adventure/setup.nx
arithmetic/arithmetic
atc/atc
atc/grammar.c
atc/lex.c
atc/y.tab.c
atc/y.tab.h
backgammon/backgammon/backgammon
backgammon/teachgammon/teachgammon
battlestar/battlestar
bcd/bcd
bs/bs
caesar/caesar
canfield/canfield/canfield
canfield/cfscores/cfscores
ching/castching/castching
ching/printching/printching
cribbage/cribbage
dab/dab
factor/factor
fish/fish
gomoku/gomoku
grdc/grdc
hack/hack
hack/hack.onames.h
hack/makedefs.nx
hangman/hangman
hunt/hunt/hunt
hunt/huntd/huntd
larn/larn
mille/mille
number/number
phantasia/characs
phantasia/cross-phantglobs.no
phantasia/gold
phantasia/lastdead
phantasia/mess
phantasia/monsters
phantasia/motd
phantasia/phantasia
phantasia/scoreboard
phantasia/setup.no
phantasia/setup.nx
phantasia/stamp.setuprun
phantasia/void
pig/pig
pom/pom
ppt/ppt
primes/primes
quiz/quiz
rain/rain
random/random
robots/robots
rogue/rogue
sail/sail
snake/snake/snake
snake/snscore/snscore
trek/trek
worm/worm
worms/worms
wump/wump
